<h1>Listing mentees</h1>

<table>
  <tr>
    <th>Birthday</th>
    <th>Access token</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Picture url</th>
    <th>Grade</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @mentees.each do |mentee| %>
  <tr>
    <td><%= mentee.birthday %></td>
    <td><%= mentee.access_token %></td>
    <td><%= mentee.first_name %></td>
    <td><%= mentee.last_name %></td>
    <td><%= mentee.email %></td>
    <td><%= mentee.picture_url %></td>
    <td><%= mentee.grade %></td>
    <td><%= link_to 'Show', mentee %></td>
    <td><%= link_to 'Edit', edit_mentee_path(mentee) %></td>
    <td><%= link_to 'Destroy', mentee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Mentee', new_mentee_path %>
