=content_for :head do
  = javascript_include_tag 'tokbox'
  = javascript_include_tag 'conversation_view'
  = javascript_include_tag "http://staging.tokbox.com/v0.91/js/TB.min.js"
  = stylesheet_link_tag "inbox"
  = stylesheet_link_tag "reveal"

#main
  .container_12
    .conversations
      .leftbar
        %h3 Conversations
        .users
          %ul.list
            -if @conversations && !@conversations.empty?
              -@conversations.each do |conversation|
                %li.chatSelection
                  .user{"data-id" => "#{conversation[:id]}"}
                    %img.imagerounded{:src => "#{conversation[:user].picture_url}"}
                      .information
                        %h4= conversation[:user].first_name
                        -if conversation[:message][:data_type] == 'video'
                          %p video
                        -else
                          %p= truncate(conversation[:message][:text], length: 50)
                      .clear
                      
      .rightbar
        #scroll.messages{"data-id" => "11"}
          -if @conversations && !@conversations.empty?
            %h2= truncate(@messages.first.text, length: 75)
            #scroll{ data: { id: "#{@conversations[0][:id]}"} }
              %ul
                -@messages.each do |message| 
                  -owner = message.conversation.send(message.owner_type)
                  %li
                    .container_12
                      .grid_1
                        %img.imagerounded{src: owner.picture_url}
                      .grid_5
                        %h5= owner.first_name
                      #timestamp.grid_2
                        = time_ago_in_words(message['created_at'])
                    .mentee.message
                      %p=message.text
                    -if message.video
                      .videoPlayer{id: "#{message.video}", data: { id: "#{message.video}" } }
                        %div{id: "p#{message.video}"}
                          
          .replybar
            %p
              %textarea.new-message Compose a new message...
              %br.clear/
              .rightf{style: "display:none;"}
                .button.reply.leftf.video
                  Add a Video
                #inboxr.button.reply.leftf.send
                  %span Send
              .clear
    .clear

#videoModal.reveal-modal
  %h1= 'Submit a Response'
  #recorderContainer
  <a class="close-reveal-modal">&#215;</a>
      
%script.message-template{ type: "text/x-handlebars-template" }
  %li
    .container_12
      .grid_1
        %img.imagerounded{src: "{{picture_url}}" }
      .grid_5
        %h5 {{ name }}
      .grid_2#timestamp  
        {{ created_at }}
    .message{class: "{{owner_type}}" }
      %p {{text}}
    {{#if video }}
    .videoPlayer{id: "{{video}}", data: { id: "{{video}}" } }
      %div{id: "p{{video}}"}
    {{/if}}
