=content_for :head do
  = javascript_include_tag "http://staging.tokbox.com/v0.91/js/TB.min.js"
  = javascript_include_tag 'tokbox'
  = javascript_include_tag "mentor_stream"
  = stylesheet_link_tag 'stream'
  = stylesheet_link_tag "reveal"

    
#main
  .container_12
    .conversations
      .leftbar
        -if current_user.conversations.count == 0
          .howitworks
            %h4.leftf How it Works
            .rightf <a href="#">x</a>
            %br.clear
            %ul
              %li <span>1</span> View questions that match you.
              %li <span>2</span> Click "reply" to send a video. We require videos for the first reply for a personal touch. Additional messages can be text or video.
              %li <span>3</span> Continue conversations in your inbox.
        .mentorcat
          %h4.leftf Things you mentor on
          .rightf <a href="#">Edit</a>
          %br.clear
          %ul
            -current_user.tags.each do |tag|
              %li=tag.value
          
          
      .rightbar
        %h1.empty No new questions! Questions are asked all the time, so check back later.
        %ul.mentorStream
          %h3= pluralize(@questions.count, "Unanswered Question")
          -@questions.each do |question|
            %li.mentorItem{ data: { id: question.id } }
              .container_12
                .grid_1
                  %img.imagerounded{src: question.mentee.picture_url}
                .grid_5
                  %h5.name= question.mentee.first_name
                #timestamp.grid_2
                  =time_ago_in_words(question.created_at) + " ago"
              .mentee.message
                %p.question= question.messages.first.text
                  
                .button.leftf.respondButton
                  %span Reply
                  .video2 &nbsp;
                .match
                  %span= "%#{current_mentor.m(question)}"
                  Mentor Match
                  
                .clear
        
        
#responseModal.reveal-modal
  %h1 Submit a Response
  #recorderContainer
    %a.close-reveal-modal &#215

    .clear