%html
  %head
    %title Mentor.im
    = stylesheet_link_tag "global"
    = stylesheet_link_tag '960'
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,700,300italic' rel='stylesheet' type='text/css'>
    = javascript_include_tag "application.js"
    = javascript_include_tag "jquery.reveal.js"
    = javascript_include_tag "loader.js"
    = javascript_include_tag 'handlebars-1.0.0.beta.6.js'
    = csrf_meta_tags
    = yield :head

  %body
    -if current_user
      :javascript
        var current_user = "#{current_user.id}";
        var OPENTOK_TOKEN = "#{@opentok_token}"
  .wrapper
    #header
      .container_12
        #logoc.grid_2
          -if mentor_signed_in?
            %a{href: "#{conversations_mentor_path(current_mentor)}" }
              = image_tag 'mentor-h2.png'
          -else
            %a{href: "#{conversations_mentee_path(current_mentee)}" }
              = image_tag 'mentor-h2.png'
        .grid_2
          -if mentor_signed_in?
            = link_to "Inbox", conversations_mentor_path(current_mentor)
          -else
            = link_to "Inbox", conversations_mentee_path(current_mentee)
        .grid_2
          %a{:href => "#"} Profile
        .grid_2
          -if mentor_signed_in?
            = link_to "Questions", stream_mentor_path(current_mentor)
        #home.grid_4
          %a{:href => "#"}
            %img{:src => "#{current_user.picture_url}"}>/
            = "#{current_user.first_name} #{current_user.last_name[0]}. "
          -if mentor_signed_in? 
            =link_to 'Sign out', destroy_mentor_session_path, :method => :delete
          -else
            =link_to 'Sign out', destroy_mentee_session_path, :method => :delete
    = yield
    
    .push
      .footer
        .container_12
          %p.leftf
            / Made by <a href="https://twitter.com/#!/brennenbyrne" title="brenne byrne">five</a> <a href="https://twitter.com/#!/grungerabbit" title="cheryl wu">nerds</a> <a href="https://twitter.com/#!/conwayanderson" title="conway anderson">at</a> <a href="https://twitter.com/#!/jessepollak" title="jesse pollak">Angelhack</a> <a href="https://twitter.com/#!/thetabyte" title="jordan goldstein">NYC</a>
            %p.rightf About | Navigation | Navigation
