%html
  %head
    %title Mentor.im
    = stylesheet_link_tag "global"
    = stylesheet_link_tag '960'
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,700,300italic' rel='stylesheet' type='text/css'>
    = javascript_include_tag "jquery-1.7.2.min.js"
    = javascript_include_tag "jquery.reveal.js"
    = javascript_include_tag "loader.js"
    = javascript_include_tag 'handlebars-1.0.0.beta.6.js'
    = javascript_include_tag "application.js"
    = csrf_meta_tags
    = yield :head

  %body
    -if current_user
      :javascript
        var current_user = "#{current_user.id}"
  .wrapper
    #header
      .container_12
        #logoc.grid_2
          %a{:href => "/"}
            =image_tag 'mentor-h2.png'
        .grid_2
          %a{:href => "#"} Inbox
        .grid_2
          %a{:href => "#"} Profile
        .grid_2
          %a{:href => "#"} Mentors
        #home.grid_4
          %a{:href => "#"}
            %img{:src => "https://graph.facebook.com/100001984628565/picture?type=square"}>/
            Conway A.
          -if mentor_signed_in? 
            =link_to 'Sign out', destroy_mentor_session_path, :method => :delete
          -if mentee_signed_in? 
            =link_to 'Sign out', destroy_mentee_session_path, :method => :delete
    = yield
    
    .push
      .footer
        .container_12
          %p.leftf
            / Made by <a href="https://twitter.com/#!/brennenbyrne" title="brenne byrne">five</a> <a href="https://twitter.com/#!/grungerabbit" title="cheryl wu">nerds</a> <a href="https://twitter.com/#!/conwayanderson" title="conway anderson">at</a> <a href="https://twitter.com/#!/jessepollak" title="jesse pollak">Angelhack</a> <a href="https://twitter.com/#!/thetabyte" title="jordan goldstein">NYC</a>
            %p.rightf About | Navigation | Navigation
            
:javascript
  $('.signup').on('click', function() {
    window.location = '/sign_in';
  })

  $('.mentor').on('click', function() {
    window.location = '/sign_in?type=Mentor'
  });

  $('.mentee').on('click', function() {
    window.location = '/sign_in?type=Mentee'
  });
