%html
  %head
    %title AngelHack
    = stylesheet_link_tag "application", :media => "all"
    = stylesheet_link_tag "application", :media => "all"
    %link{ href: 'images/favicon.png', rel: 'shortcut icon', type: 'image/png' }/
    
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,700,300italic' rel='stylesheet' type='text/css'>
    = javascript_include_tag "jquery-1.7.2.min.js"
    = javascript_include_tag "jquery.reveal.js"
    <script src="http://staging.tokbox.com/v0.91/js/TB.min.js" type="text/javascript" charset="utf-8"></script>
    = csrf_meta_tags
    = yield :head

  %body
    -if current_user
      :javascript
        var current_user = "#{current_user.id}"
  
    #header
      .container_12
        .grid_2
          -if current_user.user_type == 'mentee'
            = link_to image_tag( 'mentor-h.png'), mentee_path + '/conversations'
          -else
            = link_to image_tag( 'mentor-h.png'), mentor_path + '/conversations'
        .grid_2
          -if current_user.user_type == 'mentee'
            = link_to 'Messages', mentee_path + '/conversations'
          -else
            = link_to 'Messages', mentor_path + '/conversations'
        .grid_2
          -if current_user.user_type == 'mentee'
            = link_to 'Profile', mentee_path
          -else
            = link_to 'Profile', mentor_path
        .grid_2
          -if current_user.user_type == 'mentee'
            %a.newq{href: "#"} Add A Question
          -else
            = link_to 'New Questions', mentor_path + '/stream'
        .grid_2
          -if current_user.user_type == 'mentee'
            = link_to 'Mentors', mentee_path + '/conversations'
          -else  
            = link_to 'Mentees', mentor_path + '/conversations'
        .grid_2
          -if current_user
            = link_to 'Sign Out', '/sign_out'
          -else
            = link_to 'Sign In', '/sign_in'
    = yield
